body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.profile-pic {
	margin-left: 20%;
}

p {
	font-family:'Times New Roman', Times, serif;
}

h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
	color: black;
}

td {
	border: 4px solid blueviolet;
	padding: 12px;
  }

ul{
	margin-left: 30%;
}

.Title {
	margin-left: 20%;
}

#color:hover {
	background-color: lavender;
}

#place:hover{
	background-color: aquamarine;
}

#ritual:hover {
	background-color: darkolivegreen;

}

#ritual,#color,#place {
	width:30%;
	height:25%;
}
